body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #24272E;
    color: white;
}

header {
    overflow: hidden;
    background-color: gray;
    padding: 30px 10px;
    text-align: center;
    font-size: 25px
}

#score-board {
    border: solid blue 0.5em;
    border-radius: 20%;
    text-align: center;
    width: 70px;
    margin: 20px auto;
    padding: 15px;
    position: relative;
}

#score-label {
    font-size: 50px;
}

#user-label {
    position: absolute;
    top: 40%;
    left: -55px;
}

#computer-label {
    position: absolute;
    top: 40%;
    right: -65px;
    
}

#choices {
    text-align: center;
    margin: 30px;
}

.choice {
    border: solid green 6px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0px 10px;
    padding: 20px;
    transition: all 0.3s ease; 
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

.result {
    text-align: center;
    margin: 20px
}